@font-face {
    font-family: "prataregular";
    src: url("/css/prata-regular-webfont.woff2") format("woff2"),
        url("/css/prata-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
body,
html {
    font-family: "prataregular";
    overflow: auto;
}
nav {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
header {
    border-bottom: 2px solid black;
}
footer {
    margin-top: 20px;
    margin-bottom: 10px;
}

.hide {
    visibility: hidden;
}
#checkbox-menu,
.toggle {
    display: none;
}
.menu {
    padding: 0;
    margin: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu li a {
    color: #000;
    text-decoration: none;
    align-self: center;
    font-size: 13px;
    padding: 10px;
    transition: background 0.2s linear; /*эффект перехода мужду двуми состояниями элемента*/
}
.menu li a.bordleft:hover {
    background: #d65495;
    border-radius: 0.5em;
    opacity: 0.9;
}

.menu li a.logo {
    background-image: url("/img/logo-kuda.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 350px;
    padding-right: 9.5em;
}

.menu li a.bordleft {
    border-left: 2px solid #000;
}
.menu li a.contacts {
    margin-right: 100px;
}
.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.intro {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}
.intro-img {
    background-image: url("/img/bg-wrapper.jpg");
    width: 100%;
    height: 85vh;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.bg-black {
    background: #000;
    width: 73%;
    opacity: 0.58;
    text-align: center;
}
.bg-black hr {
    border-top: 3px solid #fff;
    width: 25%;
    margin-top: 5%;
}
.bg-black p.first-p {
    font-size: 36px;
    color: #fff;
    line-height: 48px;
    margin: 4%;
}
.bg-black p.second-p {
    font-size: 24px;
    color: #fff;
    line-height: 32px;
    margin-right: 10%;
    margin-left: 10%;
}
.intro h1 {
    margin-top: 10%;
    font-size: 48px;
    color: #fff;
    opacity: 1;
    line-height: 50px;
}
.intro-contacts {
    display: none;
}
.stats {
    display: flex;
    margin-top: 5%;
    justify-content: center;
}

.stats-text {
    display: flex;
    flex-direction: column;
}
.stats-text h2 {
    text-align: center;
    margin-top: 5%;
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
}
.stats hr {
    margin-top: 3%;
    border-top: 2px solid #000;
    width: 35%;
}
.stats hr:nth-child(2) {
    margin-top: 3%;
    border-top: 2px solid #000;
    width: 15%;
}
.stats-text p {
    margin-top: 0;
    font-size: 24px;
    line-height: 32px;
    margin-top: 4%;
    text-align: center;
}
.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}
.slider .slick-arrow {
    position: absolute;
    top: 85%;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
    border: hidden;
}
.slider .slick-arrow.slick-prev {
    left: 50%;
    background: url("/img/left-arrow.svg") 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
    right: 0;
    background: url("/img/right-arrow.svg") 0 0 / 100% no-repeat;
}
.slider {
    display: flex;
    min-width: 0%;
    position: relative;
    margin-top: 4%;
}
.slide1 {
    background-image: url("/img/slide1.jpg");
    width: 100%;
    height: 85vh;
    background-size: cover;
    justify-content: center;
    min-width: 0%;
}
.slide2 {
    background-image: url("/img/slide2.png");
    width: 100%;
    height: 85vh;
    background-size: cover;
    justify-content: center;
    min-width: 0%;
}
.slide3 {
    background-image: url("/img/slide3.png");
    width: 100%;
    height: 85vh;
    background-size: cover;
    justify-content: center;
    background-position: 60% 86%;
    min-width: 0%;
}
.slide-text {
    display: flex;
    flex-direction: column;
    margin-left: 50%;
    padding-right: 5%;
    padding-left: 5%;
    background: #000;
    height: 100%;
    opacity: 0.7;
    align-items: center;
}
.slide-text h3 {
    margin-top: 20%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}
p.slide-adress {
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
p.slide-info {
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    text-align: justify;
}
.btn-order {
    width: 137px;
    height: 37px;
    padding: 5px 10px;
    font-size: 24px;
    line-height: 32px;
    border: 2px solid white;
    border-radius: 30px;
    background: #3a3939;
    color: #fff;
    position: absolute;
    top: 86%;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.btn-order:hover {
    background: #fff;
    color: #000;
}
.slider .slick-arrow:hover {
    width: 40px;
    height: 80px;
}
.footer-block {
    display: flex;
}
.footer-text {
    text-align: center;
    width: 33.33%;
}
.footer-left {
    width: 33.33%;
}
.footer-icons {
    text-align: right;
    width: 33.33%;
    margin-right: 2%;
    margin-top: 1%;
}
.footer-icons img:nth-child(2) {
    width: 40px;
    height: 40px;
    padding-left: 8px;
}
.footer-text h3 {
    text-align: center;
    font-size: 18px;
    line-height: 17px;
}
.footer-text p {
    font-size: 14px;
}

.square {
    width: 200px;
    height: 200px;
    background-color: #f6f5f4;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.stats-square {
    font-size: 40px;
    color: #d65495;
    margin-bottom: 15px;
}
.square-text {
    font-size: 14px;
}
.hot-news {
    background: #f6f5f4;
    padding: 10px 0;
    margin-top: 2%;
    margin-bottom: 3%;
}
.news h3 {
    margin-top: 0;
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    text-align: center;
}
.news p {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-align: justify;
}
.card {
    max-width: 348px;
    background: #fff;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card-container {
    padding: 25px;
}
.card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.card-info a {
    font-size: 18px;
    color: #d65495;
    padding: 0.6em 1.5em;
    background-color: transparent;
    border: 1px solid #d65495;
    border-radius: 25px;
    text-decoration: none;
}
.card-info .money a:hover {
    color: #fff;
    background: #d65495;
}
.card-info i {
    margin-right: 0px;
    margin-top: 15px;
}
.card-info span:first-child {
    margin-right: 18px;
}
.card:hover {
    background: #fafaf9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.card img {
    height: 248px;
    width: 100%;
}

.news input[type="text"] {
    margin-top: 50px;
    width: 300px;
    height: 70px;
    border: none;
    background-image: url("/img/search.png");
    background-repeat: no-repeat;
    background-position: 27px;
    outline: none;
    padding-left: 62px;
    font-size: 15px;
    color: #919eb1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.news input[type="submit"] {
    width: 115px;
    border: none;
    height: 70px;
    background: #d65495;
    font-size: 15px;
    margin-left: -4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cards {
    position: relative;
}
.cards .slick-arrow {
    position: absolute;
    cursor: pointer;
    border: hidden;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 80px;
    top: 50%;
    margin: 0 -5%;
}
.cards .slick-prev {
    left: 0;
    background: url("/img/arrow-left-solid.svg") 0 0 / 100% no-repeat;
}
.cards .slick-next {
    right: 0;

    background: url("/img/arrow-right-solid.svg") 0 0 / 100% no-repeat;
}
.cards .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards .slick-dots li {
    list-style: none;
    margin: 10px 10px;
}
.cards .slick-dots button {
    font-size: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #000;
    border: none;
}
.cards .slick-dots li.slick-active button {
    background-color: #fff;
    border: 1px solid #000;
}
.places {
    margin-bottom: 65px;
}
.places-container {
    display: flex;
    flex-wrap: wrap;
}

.place-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 504px;
    width: 33.33%;
    margin-top: 40px;
    margin-bottom: 25px;
    padding-bottom: 60px;
}
.place-block:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.place-block img {
    margin-bottom: 25px;
}
.place-info {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    width: 100%;
    padding-left: 10%;
    padding-bottom: 40px;
}

.place-button .btn-order {
    position: relative;
    margin: 0 auto;
    height: auto;
    border: none;
}
.place-button .btn-order:hover {
    background: #fff;
    color: #000;
    border: 2px solid #000;
}
.place-block h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 30px;
}
.place-info span i {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.fa-map-marker-alt {
    text-decoration: underline;
}
.people-container {
    display: flex;
}
.people-block {
    width: 65%;
}
.people .buttons-search {
    margin-top: 21px;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.people .buttons-search input {
    text-align: left;
    margin-right: 36px;
    border-radius: 20px;
    border: 1px solid #000;
    line-height: 2em;
    text-indent: 35px;
    padding-right: 38vw;
    max-width: 100%;
    background-image: url("/img/search-icon.svg");
    background-repeat: no-repeat;
    background-size: 25px 33px;
    background-position: 7px;
    opacity: 0.7;
}

.people-text {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
}

.people-info {
    display: flex;
    border: 1px solid #000;
    padding: 21px;
    position: relative;
    margin: 20px 0 0 0;
}

.people-text h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 0;
}
.people-text p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #5e3462;
}
.people-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.people-button span {
    margin-right: 10px;
}
.btn-addfriend {
    font-size: 18px;
    line-height: 19px;
    font-weight: 400;
    text-align: center;
    background-color: transparent;
    border-radius: 100px;
    border: 2px solid #000;
    padding: 1% 1%;
}

.searchpeople-block {
    margin-left: 60px;
    width: 35%;
    background: -webkit-linear-gradient(
        180deg,
        rgb(189, 155, 190),
        rgb(190, 51, 138),
        rgb(76, 93, 216)
    );
    background: -moz-linear-gradient(
        180deg,
        rgb(189, 155, 190),
        rgb(190, 51, 138),
        rgb(76, 93, 216)
    );
    background: linear-gradient(
        180deg,
        rgb(189, 155, 190),
        rgb(190, 51, 138),
        rgb(76, 93, 216)
    );
}
.searchpeople-block h2 {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 30px;
}
.wide-search {
    display: flex;
    flex-direction: column;
}
.find-city,
.find-gender {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
    font-size: 20px;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
.find-city select,
.find-gender select {
    padding: 10px 20px;
    background-color: rgb(160, 167, 221);
}
.find-age label {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
.wide-search label > i {
    padding-right: 10px;
    padding-bottom: 20px;
}

.find-age input {
    width: 10%;
    margin-left: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(221, 223, 238);
    margin-bottom: 5%;
}
.find-age span {
    margin-left: 15%;
}
.all {
    width: 250px;
    height: 70px;
    border: none;
    border-radius: 4px;
    margin-left: 40px;
    margin-top: 52px;
    font-size: 15px;
}

.steps h2 {
    margin-top: 45px;
    font-size: 40px;
    margin-bottom: 35px;
    text-align: center;
}
.steps-text {
    line-height: 27px;
    font-size: 17px;
    max-width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 55px;
}
.steps a.steps-links {
    text-decoration: none;
    color: #000;
}
.steps a.steps-links:hover {
    color: #fff;
}

.stepblock {
    width: 340px;
    height: 400px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.stepblock .step-num {
    font-size: 200px;
    position: relative;
    top: -100px;
    left: -30px;
    margin: 0;
}
.stepblock:hover {
    background: #d65495;
    color: #fff;
}

.steps-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.stepblock h4 {
    font-size: 14px;
    margin-left: 40px;
    margin-top: -100px;
    margin-bottom: 20px;
}
.stepblock h4 span {
    margin-right: 15px;
}
.stepblock .step-info {
    margin-left: 70px;
    line-height: 29px;
}
.stepblock .stepinfolast {
    display: inline-block;
    margin-left: 70px;
    margin-top: 20px;
    border-bottom: 3px solid #000;
}
.serv-container {
    display: flex;
    margin-top: 20px;
}
.services img {
    height: auto;
    width: 100%;
}
.serv-img-container {
    width: 58%;
}
.serv-text {
    width: 42%;
    margin-left: 3%;
}
.serv-text {
    margin-bottom: 60px;
}
.services h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.services p {
    font-size: 13px;
    line-height: 20px;
}
.services h4 {
    font-size: 25px;
    margin-bottom: 10px;
}
.topusers .users-menu {
    display: flex;
}
.topusers-cards {
    width: 64%;
    margin-right: 5%;
}
.find-users {
    width: 31%;
}

.topusers {
    background: #f6f5f4;
    padding-top: 5%;
    margin-top: 5%;
}
.topusers p {
    font-size: 13px;
    line-height: 20px;
}
.topusers p:nth-child(3) {
    margin-bottom: 40px;
}
.social {
    display: flex;
}
.social i {
    margin-right: 5%;
}

.topuser-card {
    display: flex;
    height: 100%;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.topuser-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.topuser-info {
    padding-top: 0;
    padding-left: 5%;
}
p.topuser-name {
    font-size: 24px;
    color: #000;
}
p.topuser-age {
    font-size: 18px;
    color: #5e3462;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 9999999;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: zoom-out;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10%;
}
.popup__content {
    background-color: #fff;
    color: #000;
    min-width: 800px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    text-decoration: none;
    color: #3a3939;
}
.popup__title {
    font-size: 40px;
    margin: 0 0 1em 0;
    text-align: center;
}
.popup__title p {
    font-size: 25px;
}
.popup__text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup__text img {
    height: 55vh;
    width: 32vw;
}
.popup__text p {
    font-size: 17px;
    padding: 0 5%;
    line-height: 25px;
}
/*стили формы регистрации*/

.reg-h2 {
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.form-register {
    flex-basis: 35vh;
    padding: 3.5em;
    background: #5c5c5c;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
    border-radius: 3em;
    opacity: 0.9;
}
.reg-input {
    padding: 0 1em;
    font-size: 15px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-width: 1px 1px 1px 5px;
    border-radius: 0;
}
.reg-input:focus {
    background: #fff;
    box-shadow: inset 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.2);
    outline: 0;
}

.form-field {
    margin-bottom: 0.5em;
    display: flex;
}

.form-field label {
    flex: 0 1 5em;
    padding: 0.5em;
    background: #fff;
    border: 1px solid 0 #ccc;
    font-size: 15px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    line-height: 1;
    border-radius: 0.5em 0 0 0.5em;
    margin-right: 5px;
}
.form-field input,
select {
    flex-grow: 1;
    border-radius: 0 0.5em 0.5em 0;
    padding-right: 10%;
}

.input-right input {
    border-radius: 0 0.5em 0.5em 0;
}

.reg-pass {
    border-radius: 0 0.5em 0.5em 0;
}
.submit-field {
    flex-direction: row;
    justify-content: center;
}
.form-register {
    position: relative;
}
.popup__close__register {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
}

input[type="submit"] {
    margin-top: 1em;
    flex: 0 1 30%;
    padding: 0.8em;
    font-size: 1.2rem;
    background: transparent;
    border-radius: 1em;
    border: 4px solid #fff;
    transition: 0.3s;
    cursor: pointer;
    color: #fff;
}
input[type="submit"]:hover {
    color: #000;
    background: #fff;
}
option {
    text-align: center;
}

@media screen and (max-width: 765px) {
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: #000;
        background: #d65495;
        transition: all 0.1s linear;
    }
    .toggle:active {
        background: #e68ab8;
    }
    #checkbox-menu:checked + label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all 0.7s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 350px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height 0.3s linear;
    }
    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a {
        text-transform: uppercase;
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .menu li a.logo {
        height: 2em;
        margin-right: 0px;
    }
    .menu li a.bordleft {
        border-left: none;
    }
    .menu li a.contacts {
        margin-right: 0px;
    }
    .intro {
        margin-top: 5%;
        display: block;
        min-width: 100%;
    }
    .intro-img {
        background-position: 35% 66%;
    }
    .bg-black {
        background-color: #000;
        width: 100%;
        opacity: 0.65;
    }
    .intro h1 {
        position: relative;
        font-size: 33px;
        right: -10px;
        top: 3%;
        color: #d65495;
    }
    .bg-black p.first-p {
        font-size: 25px;
        color: #fff;
        line-height: 30px;
        margin: 10% 5%;
    }
    .bg-black p.second-p {
        display: none;
    }
    .intro .intro-contacts {
        background-color: #d65495;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        top: -60px;
        padding: 20px 10px;
        position: relative;
    }

    .intro-contacts i {
        margin-right: 10px;
        color: #fff;
    }
    .intro-contacts p {
        font-size: 13px;
        margin-right: 0;
    }
    .stats {
        margin-top: 0;
    }
    .stats-text {
        padding-left: 5%;
    }
    .stats-text h2 {
        font-size: 28px;
        line-height: 1.4em;
        text-align: center;
    }
    .stats hr {
        margin-top: 2%;
        border-top: 2px solid #000;
        width: 35%;
    }
    .stats-text p {
        margin-top: 2%;
        font-size: 18px;
        line-height: 25px;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
    }

    .slide1,
    .slide2,
    .slide3 {
        height: 100vh;
    }
    .slide3 img {
        background-position: 30% 66%;
    }
    .slide-text {
        margin: -15% 0 0 0;
        padding-bottom: 15%;
    }
    .slide-text h3 {
        color: #d65495;
        margin-top: 25%;
    }

    .slider .slick-arrow,
    .slider .slick-arrow:hover {
        margin-top: 2%;
        width: 20px;
        height: 40px;
        margin-left: 27%;
    }

    .footer-icons img,
    .footer-icons img:nth-child(2) {
        width: 25px;
        height: 25px;
    }
    .footer-icons {
        margin-top: 7%;
    }
    .footer-text p {
        font-size: 11px;
        margin-top: -4%;
    }
    .footer-text h3 {
        color: #d65495;
    }

    .square {
        height: 140px;
    }

    .news input[type="text"] {
        margin-top: 20px;
        width: 130px;
    }

    .buttons-search {
        flex-direction: column;
        margin-left: 5%;
    }
    .all {
        background: #fff;
        margin-top: 10px;
        margin-left: 0;
    }
    .steps-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .steps-text,
    .steps h2,
    .services {
        margin-left: 5%;
        margin-bottom: 15px;
    }
    .steps h2 {
        text-align: center;
    }
    .stepblock {
        margin-bottom: 20px;
        margin-top: 5%;
    }
    .serv-container {
        margin-top: 20px;
        flex-direction: column;
    }
    .serv-img-container {
        width: 100%;
    }
    .serv-text {
        width: 90%;
    }
    .cards {
        margin: 2%;
        padding-left: 5px;
        align-items: center;
        justify-content: center;
    }
    .cards .slick-next,
    .cards .slick-prev {
        visibility: hidden;
    }
    .place-block {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        overflow: hidden;
    }
    .place-info span {
        font-size: 15px;
        font-weight: 400;
    }
    .place-block h3 {
        font-size: 18px;
        font-weight: 400;
    }
    .fa,
    .fas {
        font-weight: 400;
    }
    .searchpeople-block {
        display: none;
    }
    .people-info {
        display: flex;
        border: none;
        margin: 20px 0 0 0;
        padding: 12px;
    }
    .people-text {
        position: relative;
        margin-left: 5%;
    }
    .people-text h4 {
        font-size: 20px;
        line-height: 25px;
        font-weight: 600;
        margin-bottom: 0;
    }
    .people-text p {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #5e3462;
    }
    .people-button {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .people-button span {
        display: none;
    }
    .btn-addfriend {
        font-size: 13px;
        line-height: 15px;
        font-weight: 400;
        text-align: center;
        background-color: transparent;
        border-radius: 100px;
        border: 2px solid #000;
        padding: 1% 15%;
    }
    .people-button img {
        height: 32px;
        width: 32px;
    }
    .steps h2 {
        font-size: 30px;
    }
    .steps-text {
        margin-left: 10%;
    }
    .popup {
        padding-right: 5%;
        padding-left: 0;
        overflow: auto;
    }

    .popup__content {
        background-color: #fff;
        color: #000;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .popup__close {
        position: absolute;
        right: 47%;
        top: 1%;
        font-size: 40px;
        text-decoration: none;
        color: #3a3939;
    }
    .popup__title {
        font-size: 21px;
        margin-top: 8%;
        text-align: center;
        font-weight: 600;
        max-width: 40%;
    }
    .popup__title p {
        font-size: 17px;
    }
    .popup__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .popup__text img {
        height: 48vh;
        width: 80vw;
        padding: 3% 5%;
    }
    .popup__text p {
        font-size: 17px;
        line-height: 25px;
        max-width: 40%;
        margin-top: 0;
        margin-bottom: 10%;
    }
    .popup__close__register {
        position: absolute;
        right: 60px;
        top: 20px;
    }
    .btn-order {
        top: 85%;
    }
}
